<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5 align-items-center">
          <img src="image/pngegg (2).png" class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <h2>Varification required</h2>
          <form action="/forgot-password" method="POST">
          <div class="form-outline mb-4">
            <input type="email" id="email" class="form-control form-control-lg" placeholder="Enter a valid email address" name="email" required />
          </div>
          <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">continue</button>
          </form>
        </div>
      </div>
    </div>
  </section>